<% xr-include src="/clean_header.html" %>
<div class="center">
    <script type="text/javascript" src="/static/js/raphael-min.js"></script>
    <div id="graph" class="gauge"></div>
    <br />
    
    <% xr-include src="/analog_dial.html" %>
    <script type="text/javascript">
        PAPER_SIZE = 300;
        GAUGE_SIZE = 140;
        GAUGE_CENTER = PAPER_SIZE / 2;

        var proxy = getRPC();
        var graph = document.getElementById("graph");

        var dial = null;
        var digital_asi = null;

        $('#graph').each(function () {
            var paper = Raphael(this, PAPER_SIZE, PAPER_SIZE);

            // paper, ticks, hands, tick mul, subticks
            gauge(paper, 10, 1, 100, 10);

            paper.text(GAUGE_CENTER, GAUGE_SIZE * 0.5, "Airspeed").attr({ fill: '#aaa', 'font-size': '14' });
            paper.text(GAUGE_CENTER, GAUGE_SIZE * 1.5, "KNOTS").attr({ fill: '#bbb', 'font-size': '16' });

            digital_asi = paper.text(GAUGE_CENTER, GAUGE_SIZE * 1.35, "");
            digital_asi.attr({ fill: '#eee', 'font-size': '18' });

            dial = paper;
        });

        function run(p) {

            var x = p.PollData();

            setTimeout(function () { run(p) }, 200);

            var vel = (x.SurfaceVelocity * 1.94384449); // m/s -> kts
            $('.gauge .hand').attr('data-kinstruments-value', vel * 10);
            digital_asi.attr({ text: Math.floor(vel) });
            updateGauge(dial);
        }

        run(proxy);

    </script>
</div>
</body>
</html>